<script setup>
import { ref, onMounted } from 'vue'

import { Map, View, Feature } from 'ol';
import TileLayer from 'ol/layer/Tile';
import OSM from 'ol/source/OSM';
import { fromLonLat } from 'ol/proj';
import { Point } from 'ol/geom';
import Style from 'ol/style/Style';
import VectorSource from 'ol/source/Vector';
import Icon from 'ol/style/Icon';
import VectorLayer from 'ol/layer/Vector';
import { toSize } from 'ol/size';
import markerIcon from '../../images/marker.png';

const el = ref()

const props = defineProps({
    event: Object,
});

onMounted(() => {
    const map = new Map({
        target: 'map',
        layers: [
            new TileLayer({
                source: new OSM()
            })
        ],
        view: new View({
            center: fromLonLat(props.event.venue.location.coordinates),
            zoom: 2
        })
    });

    // Create a marker
    var markerFeature = new Feature({
        name: "Marker",
        geometry: new Point(
            fromLonLat(props.event.venue.location.coordinates)
        )
    });

    // Stylize the marker
    markerFeature.setStyle(new Style({
        image: new Icon({
            src: markerIcon
        }),
    }));

    map.addLayer(new VectorLayer({
        title: "RoutePoint",
        visible: true,
        source: new VectorSource({
            features: [markerFeature]
        })
    }));
});
</script>

<style lang="scss">
    #map {
        @apply w-full h-full;
    }
</style>

<template>
    <div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="basis-full">
                        <h1 class="text-xl font-bold">{{ event.name }}</h1>
                    </div>
                    <div class="overflow-hidden flex px-5 py-5">
                        <div class="basis-2/3 h-96 overflow-hidden">
                            <div id="map"></div>
                        </div>
                        <div class="basis-1/3">
                            <div class="pb-5">{{ event.description }}</div>
                            <div class="py-5">{{ event.venue.name }}</div>
                            <div class="pt-5">{{ event.venue.address }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
